<style>
/*Estilo de la barra de navegación */
.navbar {
            background-color: #008000;
            color: white;
            padding: 0px;
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
        }
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold; /* Hace el texto más llamativo */
    border-radius: 5px; /* Bordes redondeados para un efecto de botón */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}
.navbar a:hover {
            background-color:  #006600;
        }

        /* Estilo de margen para el contenido para que no quede debajo de la barra */
        .content {
            margin-top: 60px;
            padding: 16px;
        }
.navbar .logo img {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
}

/*Estilo del feed de noticias*/
.feed-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las columnas */
}
#feed {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%; /* Hace que cada columna ocupe el 45% del ancho, dejando espacio entre ellas */
}
.feed-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    gap: 15px; /* Espacio entre la imagen y el contenido */
}
.feed-image {
    width: 100px;
    height: auto;
    border-radius: 5px;
}
.feed-item h2 {
    font-size: 1.2em;
    margin: 0;
}
.feed-item p {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}



/* Responsivo: En pantallas más pequeñas, cambiar a una sola columna */
@media (max-width: 768px) {
    #feed {
        flex: 1 1 100%;
    }
}



/*Comportamiento en dispostivos con pantallas pequeñas*/
@media (max-width: 768px) {
    #feed {
        flex: 1 1 100%;
    }
}
