<style>
    .feed-item {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }
    .feed-item h2 {
        font-size: 1.2em;
        margin: 0;
    }
    .feed-item p {
        font-size: 0.9em;
        color: #555;
    }
.navbar {
            background-color: #333;
            color: white;
            padding: 10px;
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            padding: 10px;
        }

        .navbar a:hover {
            background-color: #555;
        }

        /* Estilo de margen para el contenido para que no quede debajo de la barra */
        .content {
            margin-top: 60px;
            padding: 20px;
        }
</style>
